* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 2rem;
  line-height: 100%;
  color: var(--color-main-text);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}